/vendor/
/node_modules/
/public/storage
/storage/*.key
/.env
/.env.*.local
/.phpunit.result.cache
/.idea/
/.vscode/
.DS_Store
/storage/app/firebase/service-account.json


# Local dev only
compose.yaml
storage/firebase/
